*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(0, 33, 67) !important;
}

.card-container{
  margin: 0 auto;
}

.card img{
  height: 300px;
  object-fit: cover;
}

.profile-pic{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: rgb(0, 76, 84);
}

.card-body img.profile-pic{
  height: 50px;
}

div.profile-pic{
  background-color: rgb(0, 76, 84);
}

.like{
  /* color: rgb(0, 128, 255); */
  border: none;
  background-color: transparent;
}

.like.active{
  color: rgb(0, 128, 255);
}